{% macro make_title(text=""): -%}
  Local Encapsia Stuff{% if text %}:{%- endif %}
{%- endmacro %}
<!DOCTYPE "html">
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ make_title(self.title()) }} {%block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- /Bootstrap -->
    <link rel="stylesheet" href="/static/css/site.css"/>
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <a href="/plugins">PLUGINS</a>
    </nav>
    
    <h1 class="title">{{ self.title() }}</h1>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    
    <!-- JS scripts -->
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- /Bootstrap -->
    {% block extra_js %}{% endblock %}    
  </body>
</html>
