.title {
    padding: 20px;
}

.content {
    padding: 20px;
}

nav {
    background-color: black;
    padding: 10px;
    font-size: 20px;
    color: white;
}

nav > a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

nav > a:hover {
    color: lightblue;
}
