{% extends "shared/_layout.html" %}
{% block title %}Plugins{% endblock %}
{% block content %}
  <table>
    <th>
      <tr>
        Item
      </tr>
      <tr>
        Versions
      </tr>
    </th>
    {% for plugin in plugins %}
      <tr>
        <td>{{ plugin.name }}</td>
        <td>{{ plugin.versions }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
